@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer components {
    .card {
        background-image: url("/eustress_deck.svg");
    }
    .card-small {
        width: 0.675in;
        height: 1.05in;
        background-size: 6.75in 4.2in;
        background-position: calc(var(--card-x) * -0.3) calc(var(--card-y) * -0.3);
    }
    .card-large {
        width: 1.125in;
        height: 1.75in;
        background-size: 11.25in 7in;
        background-position: calc(var(--card-x) * -0.5) calc(var(--card-y) * -0.5);
    }
}

@font-face {
    font-family: "Iosevka Extended";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Iosevka-Extended.woff2") format("woff2");
}
@font-face {
    font-family: "Iosevka Extended";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Iosevka-ExtendedBold.woff2") format("woff2");
}
